<footer class="footer-section bg-grey">
    <div class="instagram-photo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-center">Follow in Instagram</h4>
                </div>
            </div>
            <div class="row no-gutters" id="instafeed">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="mb-4">
                    <h2 class="footer-logo">Revolve.</h2>
                </div>
                <ul class="list-inline footer-socials">
                    <li class="list-inline-item"><a href="https://tr-tr.facebook.com/"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Dtr"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/mehmet-%C3%A7%C4%B1nar-aa959325a/"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
                    <li class="list-inline-item"><a href="https://tr.pinterest.com/"><i class="ti-pinterest mr-2"></i>Pinterest</a></li>
                    <li class="list-inline-item"><a href="https://github.com/mcinarr"><i class="ti-github mr-2"></i>Github</a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="ti-instagram mr-2"></i>Instargram</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-rss mr-2"></i>rss</a></li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>