<!DOCTYPE html>
<html lang="en">
<body>
    <partial name="_head" />
    <partial name="_header" />



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<partial name="_subscribe" />*@

    <partial name="_footer" />
    <partial name="_javascript" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
