<!DOCTYPE html>
<html lang="en">
<head>
   @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Web.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.Web.Mvc.styles.css" asp-append-version="true" />*@

   @* <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Favicon-->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="../plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="../plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="../plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="../css/style.css">*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
    <link rel='stylesheet' id='roboto-subset.css-css' href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5' type='text/css' media='all' />
    <link rel="shortcut icon" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/favicon.ico" />
    <link rel="canonical" href="https://mdbootstrap.com/docs/standard/forms/overview/" />

</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_RegisterBody" />
    
   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - App.Web.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <!-- THEME JAVASCRIPT FILES
    ================================================== -->
    <!-- initialize jQuery Library -->
    <script src="../plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="../plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="../plugins/slick-carousel/slick.min.js"></script>
    <script src="../plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="../plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="../maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js"></script>
    <script src="../plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="../js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
