<section class="slider mt-4">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">

				@await Component.InvokeAsync("Slider")

			</div>
		</div>
	</div>
</section>